* {
    box-sizing: border-box;  
}
body {
    background-image: url("../images/Background.png");
    overflow-y: scroll;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.1;
}

nav {
    background-color: #ffffff;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    margin-bottom: 20px;
}

#navcontent {
    width: 100%;
    padding: 30px;
    margin: 0 auto;
}

#namebox {
    float: left;
    background-color: #4aaaa5;
    color: white;
    width: 220px;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    font-weight: bold;
    left: 60px;
    top: 0px;
    font-family: Georgia, Times, "Times New Roman", serif;
 
}
#links{
    position: absolute;
    padding: 20px;
    height: 60px;
    top: 5px;
    right: 40px;
    font-family: Georgia, Times, "Times New Roman", serif;
    
}

#content {
    clear: both;
    max-width: 960px;
    padding: 20px;
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;
    margin: 0 auto;

}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2px;
    border: none;
    background-color: #cccccc;
}

footer {
    background-color: #666666; 
    text-align: center;
    border-top: 10px;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #777777
  }

h1 {
      color: #4aaaa5;
      font-family: Georgia, Times, "Times New Roman", serif;
      font-size: 2em;
      font-weight: bold;
      margin-top: 21.44px;
      margin-bottom: 21.44px;

  }
h4 {
    margin: 0 auto;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    
}

  #ricardo {
      width: 200px;
      height: 200px;
      float: left;
      margin-right: 10px;
      margin-top: 8px;
  }

  a {
      text-decoration: none;
      color: #777777;
  }

#messagebox {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

#submitbutton {
    background-color: #4aaaa5;
    border: none;
    color: white;
    width: 80px;
    height: 30px;

}

#hangman {
float: left;
margin-right: 30px;
width: 280px;
height: 180px;
margin-top:16px;
}

#hangmanlabel {
    text-align: center;
    color: white;
    background-color: #4aaaa5; 
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}
#hangmanlabel:hover {
    text-align: center;
    color: white;
    background-color: #E89F0C; 
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}

#rpg {
    width: 280px;
    height: 180px;
    float: right;
    margin-top:16px;
}

#rpglabel {
    text-align: center;
    color: white;
    background-color: #4aaaa5; 
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}
#rpglabel:hover {
    text-align: center;
    color: white;
    background-color: #E89F0C;
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}

#trivia {
    float: left;
    clear: left;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 280px;
    height: 180px;
}

#trivialabel {
    text-align: center;
    color: white;
    background-color: #4aaaa5; 
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}
#trivialabel:hover {
    text-align: center;
    color: white;
    background-color: #E89F0C;
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}

#rutgers {
    Float: right;
    margin-top: 30px;
    width: 280px;
    height: 180px;
}

#rutgerslabel {
    text-align: center;
    color: white;
    background-color: #4aaaa5; 
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}

#rutgerslabel:hover {
    text-align: center;
    color: white;
    background-color: #E89F0C;
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}

#rps {
    clear: both;
    margin-top: 30px;
    width: 280px;
    height: 180px;
}

#rpslabel {
    text-align: center;
    color: white;
    background-color: #4aaaa5; 
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}

#rpslabel:hover {
    text-align: center;
    color: white;
    background-color: #E89F0C;
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}


.responsiveimage {
    height: auto;
    width: 100%;
}

p {
    color: #777777;
    margin-bottom: 10px;
    margin-top: 16px;
}

#band {
    color: #E89F0C;
    text-decoration: underline;
}

#about {
    border-right: 1px;
    border-style: solid;
    border-color: #dddddd;
    text-align: center;
    padding-right: 10px;
   
}

#portfolio {
    border-right: 1px;
    border-style: solid;
    border-color: #dddddd;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

#contact {
    padding-left: 10px;
}

/* This is for what will happen when the screen is at 980px or less */
@media screen and (max-width: 980px) {
#content {
    background-color: orange;
}

.responsiveimage{
    width: 100%;
    height: auto;
}

.label {
    width: 100%;
    height: auto;
}

#hangman {
    width: 260px;
    height: 160px;
    margin-right: 5px;

}
#rpg {
    width: 260px;
    height:160px;
    
}
#trivia {
    width: 260px;
    height: 160px;
    margin-right: 5px;
    
}
#rutgers {
    width: 260px;
    height: 160px;

}
#rps {
    width: 260px;
    height: 160px;
   
}


}

/* This is for what will happen when the screen is at 768px or less */
@media screen and (max-width: 768px) {
#content {
    background-color: blue;
}
#ricardo {
    width: 250px;
    height: auto;
}
#content {
    width: 95%;
    margin-left: 20px;
}
#namebox {
       left: 20px;

}

#links{
    right: 5px;    
}


}

/* This is for what will happen when the screen is at 640px or less */
@media screen and (max-width: 640px) {
#content {
    background-color: white;
}


#namebox {
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 24px;
    position: fixed;
    font-weight: bold;
    left: 0px;
    top: 0px;
    font-family: Georgia, Times, "Times New Roman", serif;
 
}
#links{
    position: fixed;
    clear: both;
    padding: 20px;
    font-family: Georgia, Times, "Times New Roman", serif;
    top: 60px;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    height: 60px;
    left: 0px;
    right: 0px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    
}
#navcontent {
    height: 120px;
    padding: 10px;
  
    
}
nav {
    height: 122px;
    clear: both;
    border: none;

}

#hangman {
    width: 100%;
    height: 350px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
  
}

#hangmanlabel {
    padding-top: 12px;
    bottom: 80px;
}

#rpg {
    width: 100%;
    height: 350px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    margin-top: 25px;

}

#rpglabel {
    padding-top: 12px;
    bottom: 80px;
}

#trivia {
    width: 100%;
    height: 350px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    margin-top: 25px;

}

#trivialabel {
    padding-top: 12px;
    bottom: 80px;
}

#rutgers {
    width: 100%;
    height: 350px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
  

}

#rutgerslabel {
    padding-top: 12px;
    bottom: 80px;
}

#rps {
    width: 100%;
    height: 350px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
  


}

#rpslabel {
    padding-top: 12px;
    bottom: 80px;
}

h4 {
    font-size: 24px;
    padding: 0px;
    bottom: 5px;
}


}