* {
    box-sizing: border-box;
   /* border: 1px solid black;*/ /*this is to add a border around every element!*/ 
   
}
body {
    background-image: url("../images/Background.png");
    overflow-y: scroll;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.1;
}

nav {
    background-color: #ffffff;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    margin-bottom: 20px;
}

#navcontent {
    width: 960px;
    padding: 50px;
    margin: 0 auto;
}

#namebox {
    float: left;
    background-color: #4aaaa5;
    color: white;
    width: 220px;
    height: 60px;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    font-weight: bold;
    left: 200px;
    top: 40px;
    font-family: Georgia, Times, "Times New Roman", serif;
 
}
#links{
    position: absolute;
    padding: 20px;
    height: 60px;
    top: 40px;
    right: 200px;
    font-family: Georgia, Times, "Times New Roman", serif;
    
}

#content {
    clear: both;
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;
    margin-left: 198px;
    margin-right: 198px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2px;
    border: none;
    background-color: #cccccc;
}

footer {
    background-color: #666666; 
    text-align: center;
    border-top: 10px;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #777777
  }

h1 {
      color: #4aaaa5;
      font-family: Georgia, Times, "Times New Roman", serif;
      font-size: 2em;
      font-weight: bold;
      margin-top: 21.44px;
      margin-bottom: 21.44px;

  }
h4 {
    margin: 0 auto;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    
}

  #ricardo {
      width: 200px;
      height: 200px;
      float: left;
      margin-right: 10px;
      margin-top: 8px;
  }

  a {
      text-decoration: none;
      color: #777777;
  }

#messagebox {
    width: 922px;
    height: 400px;
}

#hangman {
float: left;
margin-right: 30px;
width: 300px;
height: 200px;
margin-top:16px;
}

#hangmanlabel {
    text-align: center;
    color: white;
    background-color: #4aaaa5; 
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}
#hangmanlabel:hover {
    text-align: center;
    color: white;
    background-color: #E89F0C; 
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}

#rpg {
    width: 300px;
    height: 200px;
    float: left;
    margin-top:16px;
}

#rpglabel {
    text-align: center;
    color: white;
    background-color: #4aaaa5; 
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}
#rpglabel:hover {
    text-align: center;
    color: white;
    background-color: #E89F0C;
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}

#trivia {
    float: left;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
}

#trivialabel {
    text-align: center;
    color: white;
    background-color: #4aaaa5; 
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}
#trivialabel:hover {
    text-align: center;
    color: white;
    background-color: #E89F0C;
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}

#rutgers {
    Float: left;
    margin-top: 30px;
    width: 300px;
    height: 200px;
}

#rutgerslabel {
    text-align: center;
    color: white;
    background-color: #4aaaa5; 
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}

#rutgerslabel:hover {
    text-align: center;
    color: white;
    background-color: #E89F0C;
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}

#rps {
    clear: both;
    margin-top: 30px;
    width: 300px;
    height: 200px;
}

#rpslabel {
    text-align: center;
    color: white;
    background-color: #4aaaa5; 
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}

#rpslabel:hover {
    text-align: center;
    color: white;
    background-color: #E89F0C;
    z-index: 1;
    height: 50px;
    padding: 18px;
    position: relative;
    bottom: 60px;
}

img {
    height: 200px; 
    width: 300px; 
}

p {
    color: #777777;
    margin-bottom: 10px;
    margin-top: 16px;
}

#band {
    color: #E89F0C;
    text-decoration: underline;
}

#about {
    border-right: 1px;
    border-style: solid;
    border-color: #dddddd;
    text-align: center;
    padding-right: 10px;
   
}

#portfolio {
    border-right: 1px;
    border-style: solid;
    border-color: #dddddd;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

#contact {
    padding-left: 10px;
}